*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --defaultColor: #0075FF;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
  font-weight: 400;
}

.container{
  position: relative;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 90vh;
}

.data-container{
  border: 1px solid black;
  text-align: center;
}

.data-container h1{
  font-size: 1.6rem;
  margin-top: 25%;
}

.entity-menu{
  padding: 25px;
  background-color: var(--defaultColor);
  width: 1fr;
  border-radius: 5px;
}

.entity-menu ul li{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.entity-menu ul li input{
  background-color: whitesmoke;
  border: none;
  margin-bottom: 18px;
  font-size: 17px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

.entity-menu ul li::before{
  position: absolute;
  background-color: rgba(0, 153, 255, 0.322);
  content: "";
  width: 0;
  height: 40px;
  border-radius: 5px;
  transition: 100ms;
  pointer-events: none;
}

.entity-menu ul li:hover::before{
  width: 100%;
}

table{
  width: 100%;
}

table tbody td{
  padding-left: 5px;
}

table td{
  border: 1px solid black;
}
header{
  position: relative;
  background-color: #4A4A4A;
  height: 75px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.596);
}

.menu{
  position: absolute;
  right: 80px;
  bottom: 0;
  display: flex;
}

.menu li{
  list-style: none;
  margin: 15px 5px;
}

.menu li a{
  padding: 10px;
  color: whitesmoke;
  font-size: 23px;
  text-decoration: none;
  transition: 300ms;
}

.menu li a:hover{
  color: var(--defaultColor);
}

.menu li a:focus{
  /*color: #0075FF;*/
  animation: a 2s infinite linear alternate;
  
}

.loading-page{
  background-image: url("./../public/loading.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin: 20% auto;
}

@keyframes a {
  from{
      color: #3991f5;
  }
  to{
      color: #16bbc7;
  }
}